<body class="body-show">
  <div class="container-show">
    <div class="container mt-5 container-show">
      <h1><%= @cocktail.name %></h1>

      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 500, crop: :fill, class: 'img-show' %>

      <% @cocktail.doses.each do |dose| %>
        <div class="card">
          <div class="card-body">

            <%= dose.ingredient.name %>
            (<%= dose.description %>)
            <div class="delete">
              <i class="fa fa-trash mx-1 gray"></i>
              <%= link_to "Delete dose", dose_path(dose),
                                         method: :delete,
                                         data: { confirm: 'Are you sure?'} %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="links">
        <%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
        <%= link_to "Back to index", cocktails_path %>
      </div>
    </div>
  </div>
</body>

