<body class="body-show">
  <div class="container container-show">
      <h1><%= @cocktail.name %></h1>

      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 500, crop: :fill, class: 'img-show' %>

      <% @cocktail.doses.each do |dose| %>
        <hr>
        <!-- <div class="card"> -->
          <!-- <div class="card-body"> -->
          <div class="doses-list">
            <div>
              <%= dose.ingredient.name %>
              | <%= dose.description %>
            </div>
            <div class="delete">
              <i class="fa fa-trash mx-1 gray"></i>
              <%= link_to "Delete dose", dose_path(dose),
                                         method: :delete,
                                         data: { confirm: 'Are you sure?'} %>
            </div>
            <!-- </div> -->
          <!-- </div> -->
        </div>
      <% end %>

      <h2>Add new dose</h2>

      <div class="form">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.submit class: "btn-submit" %>
        <% end %>
      </div>

      <!-- <div class="links"> -->
        <%= link_to "Back to index", cocktails_path, class: 'link' %>
      <!-- </div> -->
  </div>
</body>

